@tailwind base;
@tailwind components;
@tailwind utilities;

/* TO MAM V INDEX.HTML zato tu ne rabim */
/* body {
    background-color: green;
    border: 8px solid rgb(192, 240, 204);
    min-height: 100vh;
    padding: 32px;
} */